<!-- Intermedio-->

<!--Formulario basado en plantillas-->
<!--<app-formulario-validado></app-formulario-validado> -->


<!--El formulario reactivo-->
<app-formulario-reactivo></app-formulario-reactivo>


<!--Comunicacion entre procesos Input-->
<!--Podemos pasarle info al componente hijo-->
<p>Le paso la variable title a un componente hijo</p>
<app-children title="Comunicacion entre procesos" [variable]="variable"></app-children>

<p> Aqui en el padre, variable: {{variable}}</p>
<!--Un input reactivo en el padre modifica a todos los hijos-->
<input type="text" class="form-control" [(ngModel)]="variable">


<!--Comunicacion entre procesos Output-->
<!--iNFO  del hijo al padre es un bardo y no merece la pena veamos otra forma porque sino voy a abandonar este framework-->
<!--<app-hijo></app-hijo>-->

<!--Servicios-->
<h1>Servicios</h1>
<p>Comunicacion entre componentes mejor</p>
<!--El componente envia-msj solo opera su parte logica, no muestra nada en pantalla!
    Entonces cuando lo llamamos corre lo que le indicamos en su constructor,
    en este caso un metodo que envia un msj-->
<app-envia-msj></app-envia-msj>
<app-recibe-msj></app-recibe-msj>


<!--Servicios con entraga en lista *ngFor que es como un foreach-->
<div class="container">
  <h3>Servicios</h3>
    <app-agregar-mensajes></app-agregar-mensajes>
    <app-lista-mensajes></app-lista-mensajes>
</div>

<h1>Formulario validado por plantillas</h1>
<app-formulario-validado></app-formulario-validado>
